:root {
  --amazon-background: hsl(214, 27%, 10%);
  --amazon-background-grey : hsl(180, 7%, 92%);
  --amazon-orange: hsl(34, 58%, 53%);
  --amazon-orange-cart: hsl(34, 97%, 48%);
  --amazon-orange-button: hsl(43, 85%, 62%);

}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--amazon-background-grey);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

button:visited, a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
